# file này để chứa list danh sách các file ko được up lên github

# Environment
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# OS
.DS_Store
Thumbs.db